@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url("../font/Roboto/Roboto-Light.woff2") format("woff2"),
  url("../font/Roboto/Roboto-Light.woff") format("woff"),
  url("../font/Roboto/Roboto-Light.eot") format("eot"),
  url("../font/Roboto/Roboto-Light.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url("../font/Roboto/Roboto-Regular.woff2") format("woff2"),
  url("../font/Roboto/Roboto-Regular.woff") format("woff"),
  url("../font/Roboto/Roboto-Regular.eot") format("eot"),
  url("../font/Roboto/Roboto-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url("../font/Roboto/Roboto-Medium.woff2") format("woff2"),
  url("../font/Roboto/Roboto-Medium.woff") format("woff"),
  url("../font/Roboto/Roboto-Medium.eot") format("eot"),
  url("../font/Roboto/Roboto-Medium.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url("../font/Roboto/Roboto-Bold.woff2") format("woff2"),
  url("../font/Roboto/Roboto-Bold.woff") format("woff"),
  url("../font/Roboto/Roboto-Bold.eot") format("eot"),
  url("../font/Roboto/Roboto-Bold.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-style: normal;
  src: url("../font/Ubuntu/Ubuntu-Regular.woff2") format("woff2"),
  url("../font/Ubuntu/Ubuntu-Regular.woff") format("woff"),
  url("../font/Ubuntu/Ubuntu-Regular.eot") format("eot"),
  url("../font/Ubuntu/Ubuntu-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  src: url("../font/Ubuntu/Ubuntu-Medium.woff2") format("woff2"),
  url("../font/Ubuntu/Ubuntu-Medium.woff") format("woff"),
  url("../font/Ubuntu/Ubuntu-Medium.eot") format("eot"),
  url("../font/Ubuntu/Ubuntu-Medium.ttf") format("ttf");
  font-display: swap;
}