//< ОБЩИЕ ПАРАМЕТРЫ >===============================================================================================
*, *:after, *:before {
  box-sizing: border-box;
}
body {
	font-family: $mainFontFamily;
  font-weight: 400;
    height: 100vh;
    overflow: hidden;
}
.remove-padding { //Обнуление отступов
  padding: 0;
}


//< ОБЩИЕ ПАРАМЕТРЫ >===============================================================================================

